/**
 * Defines an automatically mixed neutral swatch.
 */
/* c-neutral-000 is defined in Rust. */
/* c-neutral-100 is defined in Rust. */
@define-color c-neutral-200 mix(@c-neutral-100, @c-neutral-900, 0.1);
@define-color c-neutral-300 mix(@c-neutral-100, @c-neutral-900, 0.2);
@define-color c-neutral-400 mix(@c-neutral-100, @c-neutral-900, 0.3);
@define-color c-neutral-500 mix(@c-neutral-100, @c-neutral-900, 0.45);
@define-color c-neutral-600 mix(@c-neutral-100, @c-neutral-900, 0.6);
@define-color c-neutral-700 mix(@c-neutral-100, @c-neutral-900, 0.7);
@define-color c-neutral-800 mix(@c-neutral-100, @c-neutral-900, 0.8);
/* c-neutral-900 is defined in Rust. */
.Scout {
  border-radius: 8px;
}

#Header #SearchEntry {
  border-radius: 8px 8px 0 0;
  border: 1px solid @c-neutral-000;
  background-color: @c-background-secondary;
}
#Header #ProfileButton {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  outline-offset: 1px;
  -gtk-outline-radius: 50%;
  border: 1px solid @c-neutral-000;
}

#ProfileDropdown separator {
  background-color: @c-neutral-300;
}

#Content {
  border: 1px solid @c-neutral-000;
  border-radius: 0 0 8px 8px;
  border-top: none;
}
#Content scrollbar {
  border: none;
  background: none;
}
#Content undershoot {
  background: none;
}

#ResultsContainer {
  border-radius: 0 0 0 6px;
  background-color: @c-background-secondary;
}
#ResultsContainer .flat {
  padding: 8px 4px;
  outline: 0;
  border: none;
  border-radius: 0;
}
#ResultsContainer .flat:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.075) 50%, transparent);
}
#ResultsContainer .flat:focus, #ResultsContainer #ResultsScroller.focus #SearchResult:first-child > .flat:first-child, #ResultsContainer .flat:active {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 50%, transparent);
}
#PreviewContainer {
  border-radius: 0 0 6px 0;
  border-left: 1px solid @c-neutral-000;
  background-color: @c-background-primary;
}

#PreferencesDialog {
  outline-width: 0px;
}
#PreferencesDialog #Preferences > header {
  padding: 0;
  margin-top: -1px;
}
#PreferencesDialog #Preferences > header tab {
  border-left: none;
}
#PreferencesDialog #Preferences > header label {
  padding: 12px 6px 12px 32px;
}
#PreferencesDialog #CategoryLabel {
  margin-bottom: 24px;
}
#PreferencesDialog #SwatchTest {
  padding: 4px;
  background-color: black;
}
#PreferencesDialog #SwatchTest label:nth-child(1) {
  background: @c-neutral-000;
}
#PreferencesDialog #SwatchTest label:nth-child(2) {
  background: @c-neutral-100;
}
#PreferencesDialog #SwatchTest label:nth-child(3) {
  background: @c-neutral-200;
}
#PreferencesDialog #SwatchTest label:nth-child(4) {
  background: @c-neutral-300;
}
#PreferencesDialog #SwatchTest label:nth-child(5) {
  background: @c-neutral-400;
}
#PreferencesDialog #SwatchTest label:nth-child(n+6) {
  color: @c-neutral-000;
}
#PreferencesDialog #SwatchTest label:nth-child(6) {
  background: @c-neutral-500;
}
#PreferencesDialog #SwatchTest label:nth-child(7) {
  background: @c-neutral-600;
}
#PreferencesDialog #SwatchTest label:nth-child(8) {
  background: @c-neutral-700;
}
#PreferencesDialog #SwatchTest label:nth-child(9) {
  background: @c-neutral-800;
}
#PreferencesDialog #SwatchTest label:nth-child(10) {
  background: @c-neutral-900;
}
