@use 'def' as *

.Scout
	border-radius: 8px

	#Header
		#SearchEntry
			border-radius: 8px 8px 0 0
			border: 1px solid $c-neutral-000
			background-color: $c-background-secondary

		#ProfileButton
			margin: 0
			padding: 0

			border-radius: 50%
			outline-offset: 1px
			-gtk-outline-radius: 50%
			border: 1px solid $c-neutral-000

	#ProfileDropdown separator
		background-color: $c-neutral-300

	#Content
		border: 1px solid $c-neutral-000
		border-radius: 0 0 8px 8px
		border-top: none

		#ResultsFrame
			border-radius: 0 0 0 6px
			background-color: $c-background-secondary

			.flat
				padding: 8px 4px
				
				outline: 0
				border: none
				border-radius: 0

				&:hover
					$color: rgba(0, 0, 0, 0.075)
					background: linear-gradient(90deg, $color, $color 50%, transparent)

				&:focus, &:active
					$color: rgba(0, 0, 0, 0.15)
					background: linear-gradient(90deg, $color, $color 50%, transparent)

			&.focus #SearchResult:first-child > .flat:first-child
				@extend :focus

		#PreviewFrame
			border-radius: 0 0 6px 0
			border-left: 1px solid $c-neutral-000
			background-color: $c-background-primary

			.IconBox
				margin-bottom: 16px

			.Description
				margin-top: 8px

		scrollbar
			border-left: none
			background-color: $c-background-secondary

		undershoot
			background: none
