/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | @define-color border_color darker(@background_color);
 *   |                                                     ^
 *   '
 *   src/style/style.sass 1:53  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  @define-color border_color darker(@background_color);\a   \2502                                                      ^\a   \2575 \a   src/style/style.sass 1:53  root stylesheet";
}
